@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-white font-sans overflow-x-hidden;
    background: radial-gradient(circle at 20% 0%, rgba(127, 29, 29, 0.4) 0%, rgba(15, 16, 20, 1) 70%);
    background-attachment: fixed;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}